---
import Layout from '../layouts/Layout.astro';
---

<Layout
    metaDescription="Workshop website to help get started with accessibility testing. The site is split into sections to help you focus on a specific thing." title="Welcome to testing for accessibility!" currentUrl="/"
  >
  <div class="my-8 mx-4 max-w-[80em] lg:mx-auto">
    <div class="mx-auto max-w-[40em]">
      <h1 id="skip-target">
        Tests for some unnecessary use of ARIA and other attributes
      </h1>
      <div class="flex flex-col gap-4 items-start">
        <button aria-label="This is a button" aria-labelledby="button-id"><span id="button-id">This is a button</span></button>
        <a href="#" title="link-text" aria-label="Link text">Link text</a>
        <p class="bad-practice">This is some text that has CSS with !important.</p>
        <h2>CSS content attribute</h2>
        <p>Here is some text that uses CSS content attribute.</p>
        <p class="css-content-text"></p>
        <p class="css-content-icon">This icon has no alt.</p>
        <p class="css-content-icon-alt">This icon has an alt (not a good one though).</p>
        <p class="css-content-icon-alt-empty">This icon has an empty alt.</p>
        <h2>Link / Button text quality</h2>
        <p>Links and buttons that have too generic text. The second <span lang="fi">Lue lisää</span> button has no lang attribute.</p>
        <button>Click here</button>
        <a href="#">Read more</a>
        <a href="#">More info</a>
        <a href="#">Learn more</a>
        <button><span lang="fi">Lue lisää</span></button>
        <button><span>Lue lisää</span></button>
        <a href="#" lang="fi">Tutustu</a>
        <a href="#" lang="fi">täällä</a>
        <a href="#" lang="fi">täältä</a>
        <a href="#" lang="fi">here</a>
        <h2>Nested interactive elements</h2>
        Axe DevTools finds only the link inside the button, not a button inside a link.
        <button>
          <a href="#">Nested link inside button</a>
        </button>
        <a href="#">
          <button>Nested button inside link</button>
        </a>
        <div role="button">
          <a href="#">Nested link inside div with button role</a>
        </div>
      </div>
    </div>
  </div>
</Layout>