---
import Layout from '../layouts/Layout.astro';
---

<Layout
    metaDescription="Workshop website to help get started with accessibility testing. The site is split into sections to help you focus on a specific thing." title="Welcome to testing for accessibility!" currentUrl="/"
  >
  <div class="my-8 mx-4 max-w-[80em] lg:mx-auto">
    <div class="mx-auto max-w-[40em]">
      <h1 id="skip-target">
        Tests for some unnecessary use of ARIA and other attributes
      </h1>
      <div class="flex flex-col gap-4 items-start">
        <button aria-label="This is a button" aria-labelledby="button-id"><span id="button-id">This is a button</span></button>
        <a href="#" title="link-text" aria-label="Link text">Link text</a>
        <p class="bad-practice">This is some text that has CSS with !important.</p>
        <h2>CSS content attribute</h2>
        <p>Here is some text that uses CSS content attribute.</p>
        <p class="css-content-text"></p>
        <p class="css-content-icon">This icon has no alt.</p>
        <p class="css-content-icon-alt">This icon has an alt (not a good one though).</p>
        <p class="css-content-icon-alt-empty">This icon has an empty alt.</p>
      </div>
    </div>
  </div>
</Layout>