---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Resources" metaDescription="Some resources to help you improve your accessibility skills - whether it be testing or creating accessible implementations.">
  <div class="my-8 mx-4 max-w-[80em] lg:mx-auto">
    <div class="mx-auto max-w-[40em]">
      <h1 id="skip-target">
        Resources
      </h1>
      <div>
        <ul>
          <li>
            <a href="https://www.w3.org/WAI/ARIA/apg/">ARIA Authoring Practices</a>
          </li>
          <li>
            <a href="https://www.w3.org/WAI/WCAG21/quickref/">How to Meet WCAG (Quick Reference)</a>
          </li>
          <li>
            <a href="https://accessibility.huit.harvard.edu/describe-content-images">Write helpful Alt Text to describe images</a>
          </li>
          <li>
            <a href="https://a11y.ing">A11ying with Sanna - I would if I could</a>
          </li>
          <li>
            <a href="https://wcag.a11y.ing">A11ying with Sanna - Web Content Accessibility Guidelines</a>
          </li>
          <li>
            <a href="https://blog.sanna.ninja/accessibility">My blogs on accessibility</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>